*{
	margin: 0;

	font-family: "微软雅黑"
}
a{
	text-decoration: none;
	color:#000;
}
.footer{

	background-color: #9b9ea0;
	padding-top: 20px;
	padding-bottom: 10px;
}
.footContenter{
	width: 800px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}
.footContenter ul{
	vertical-align :top;
	display: inline-block;


}
.footContenter ul li{
	text-align: left;
	list-style: none;
	font-size: 18px;
	font-weight: bold;

}
.footContenter ul li a{
	font-size: 15px;
	font-weight: normal;

}
.footContenter img{
	width: 80px;
	margin: 10px;
}
.footerP{
	margin-top: 10px;
	border-top: 2px solid;
	text-align: center;
	padding-top: 5px;
}